<!DOCTYPE html>
<html>
    <head>
        <title>Категории</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <%- include('partials/header') %>
      <section class="categories-page">
        <div class="container">
          <h1>Категории</h1>
          <% if (categories && categories.length > 0) { %>
            <div class="prod-grid">
              <% categories.forEach(cat => { %>

                <article class="product-card">
                  <a href="/categories/<%= cat.id %>">
                    <img src="<%= cat.image %>" alt="<%= cat.name %>">
                    <h3><%= cat.name %></h3>
                    <p><%= cat.description %></p>
                  </a>
                </article>

              <% }); %>
            </div>
          <% } else { %>
            <p>Категории не найдены</p>
          <% }; %>
        </div>
      </section>
      <%- include('partials/footer') %>
    </body>
</html>