<!DOCTYPE html>
<html>
    <head>
        <title><%= category.name %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="wrapper">
      <%- include('partials/header') %>
      <section class="products-page, content">
        <div class="container">
          <h1><%= category.name %></h1>
          <% if (products && products.length > 0) { %>
            <div class="prod-grid">
              <% products.forEach(prod => { %>

                <article class="product-card">
                  <a href="/products/<%= prod.id %>">
                    <img src="<%= prod.image %>" alt="<%= prod.name %>">
                    <h3><%= prod.name %></h3>
                    <p><%= prod.price %> Руб.</p>
                    <p><%= prod.description %></p>
                  </a>
                </article>

              <% }); %>
            </div>
          <% } else { %>
            <p>Товары не найдены</p>
          <% }; %>
        </div>
      </section>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>